.image {
    margin: 237px 562px 10px 440px;
}
.text{
    margin: 0px 407px 44px 653px;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #484848;
    width: 220px;
    height: 20px;
    line-height: 16.41px;
}
.input{
    width: 709px;
    height: 46px;
    margin: 0px 16px 18px 209px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FFFFFF;
    padding: 10px 269px 10px 297px;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    color: #888888;
}
.btn{
    margin: 0px 208px 0px 0px;
    width: 138px;
    height: 46px;
    border-radius: 8px;
    background-color: #204080;
    border: none;
   /*  padding: 13px 40.42px 4.41px 40px; */
    font-size: 18px;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.result{
    width: 709px;
    height: 258px;
    border-radius: 4px;
    border: 1px solid #484848;
    margin: 0px 362px 152px 209px;
    background-color: #FFFFFF;
    overflow: hidden;
}
.container{
    display: flex;
}
.name{
    width: 345px;
    height: 31.42px;
    color: #484848;
    line-height: 21.09px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
    display: flex;
    margin-top: 18px;
    margin-right: 71px;
    padding-left: 32px;
}
.email{
   display: flex;
   width: 216px;
   height: 31px;
   font-style: normal;
   font-size: 18px;
   line-height: 21px;
   font-weight: bold;
   color: #484848;
   margin-top: 12px;
   margin-right: 45px;
   margin-bottom: 1px;
}
.date{
    width: 207px;
    /* height: 26px; */
    font-size: 12px;
    line-height: 14.06px;
    font-weight: bold;
    font-style: normal;
    color: #686868;
    padding-left: 32px;
    margin-bottom: 1px;
}
.line{
    width: 644px;
    outline: none;
    border: 1px solid #585858;
    margin-left: 30px;
    margin-right: 35px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.showmore{
    width: 79px;
    height: 17px;
    margin: 42.49px 313px 9px 317px;
}
a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.06px;
    color: #000000;
}
